$green: rgb(0, 255, 0);
$brand: #1E242B;
$white: #FFF;

$orange: #FF671B;
$green: #77BC1F;
$blue: #00A7CE;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

:global {
  .container {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
    padding: 0 2rem;
  }
}

.header {
  background: $brand;

  h1 {
    margin: 0;
    font-size: 3.2rem;
    color: $white;
    font-weight: 800;
    padding: 1rem 0;
    span {
      color: $green;
    }
  }
}

.loading {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    margin: 0;
  }
}