$green: rgb(0, 255, 0);
$brand: #1E242B;
$white: #FFF;

$background: rgba(227, 231, 235, 0.23);
$overlay: rgba(255, 255, 255, 0.75);
$icon-overlay: rgba(255, 255, 255, 0.9);

$orange: #FF671B;
$green: #77BC1F;
$blue: #00A7CE;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: $background;
}


h2 {
 font-size: 2.4rem;
}

h3 {
 font-size: 2.2rem;
}

h4 {
 font-size: 2rem;
}

h5 {
 font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

:global {
  .container {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
    padding: 0 2rem;
  }
}

.header {
  background: $brand;

  h1 {
    margin: 0;
    font-size: 3.2rem;
    color: $white;
    font-weight: 800;
    padding: 1rem 0;
    span {
      color: $green;
    }
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  margin: 6rem auto;
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2rem;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $white;
      margin: 2rem;
      padding: 3rem;
      cursor: pointer;
      border-radius: 6rem;
    }
  }
}

.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: $overlay;
  top: 0;
  left: 0;
  animation: openAnimation 750ms ease-in-out forwards;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  @media (min-width: 767px) {
    padding: 0;
  }
}

.btn-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.icon {
  max-width: 640px;
  width: 100%;
  margin: 8rem auto;
  padding: 4rem;
  background: $icon-overlay;
  border-radius: 3rem;

  h4 {
    text-transform: capitalize;
    margin: 0 0 2rem;
    color: $brand;
  }

  img {
    width: 100%;
    max-width: 100%;
    height: 320px;
  }
}

@keyframes openAnimation {
  0% {
    transform: translateY(300%);
  }
  100% {
    transform: translateY(0%);
  }
}

.loading {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    margin: 0;
  }
}